[submodule "core/llm_adapter"]
	path = core/llm_adapter
	url = git@gitlab.zhizitech.org:ai/llmadapter.git
[submodule "core/moderation-service"]
	path = core/moderation-service
	url = git@gitlab.zhizitech.org:ai/content-review-service.git
	branch = main
[submodule "core/chatcoachuserprofile"]
	path = core/chatcoachuserprofile
	url = git@gitlab.zhizitech.org:ai/chatcoachuserprofile.git
